.root{position: absolute;width: 100vw;height: 100vh;left: 0;top: 0;}

.set-1-percent-for-width{
	width:1%;
	float:left
}
.set-2-percent-for-width{
	width:2%;
	float:left
}
.set-3-percent-for-width{
	width:3%;
	float:left
}
.set-4-percent-for-width{
	width:4%;
	float:left
}
.set-5-percent-for-width{
	width:5%;
	float:left
}
.set-6-percent-for-width{
	width:6%;
	float:left
}
.set-7-percent-for-width{
	width:7%;
	float:left
}
.set-8-percent-for-width{
	width:8%;
	float:left
}
.set-9-percent-for-width{
	width:9%;
	float:left
}
.set-10-percent-for-width{
	width:10%;
	float:left
}
.set-11-percent-for-width{
	width:11%;
	float:left
}
.set-12-percent-for-width{
	width:12%;
	float:left
}
.set-13-percent-for-width{
	width:13%;
	float:left
}
.set-14-percent-for-width{
	width:14%;
	float:left
}
.set-15-percent-for-width{
	width:15%;
	float:left
}
.set-16-percent-for-width{
	width:16%;
	float:left
}
.set-17-percent-for-width{
	width:17%;
	float:left
}
.set-18-percent-for-width{
	width:18%;
	float:left
}
.set-19-percent-for-width{
	width:19%;
	float:left
}
.set-20-percent-for-width{
	width:20%;
	float:left
}
.set-21-percent-for-width{
	width:21%;
	float:left
}
.set-22-percent-for-width{
	width:22%;
	float:left
}
.set-23-percent-for-width{
	width:23%;
	float:left
}
.set-24-percent-for-width{
	width:24%;
	float:left
}
.set-25-percent-for-width{
	width:25%;
	float:left
}
.set-26-percent-for-width{
	width:26%;
	float:left
}
.set-27-percent-for-width{
	width:27%;
	float:left
}
.set-28-percent-for-width{
	width:28%;
	float:left
}
.set-29-percent-for-width{
	width:29%;
	float:left
}
.set-30-percent-for-width{
	width:30%;
	float:left
}
.set-31-percent-for-width{
	width:31%;
	float:left
}
.set-32-percent-for-width{
	width:32%;
	float:left
}
.set-33-percent-for-width{
	width:33%;
	float:left
}
.set-34-percent-for-width{
	width:34%;
	float:left
}
.set-35-percent-for-width{
	width:35%;
	float:left
}
.set-36-percent-for-width{
	width:36%;
	float:left
}
.set-37-percent-for-width{
	width:37%;
	float:left
}
.set-38-percent-for-width{
	width:38%;
	float:left
}
.set-39-percent-for-width{
	width:39%;
	float:left
}
.set-40-percent-for-width{
	width:40%;
	float:left
}
.set-41-percent-for-width{
	width:41%;
	float:left
}
.set-42-percent-for-width{
	width:42%;
	float:left
}
.set-43-percent-for-width{
	width:43%;
	float:left
}
.set-44-percent-for-width{
	width:44%;
	float:left
}
.set-45-percent-for-width{
	width:45%;
	float:left
}
.set-46-percent-for-width{
	width:46%;
	float:left
}
.set-47-percent-for-width{
	width:47%;
	float:left
}
.set-48-percent-for-width{
	width:48%;
	float:left
}
.set-49-percent-for-width{
	width:49%;
	float:left
}
.set-50-percent-for-width{
	width:50%;
	float:left
}
.set-51-percent-for-width{
	width:51%;
	float:left
}
.set-52-percent-for-width{
	width:52%;
	float:left
}
.set-53-percent-for-width{
	width:53%;
	float:left
}
.set-54-percent-for-width{
	width:54%;
	float:left
}
.set-55-percent-for-width{
	width:55%;
	float:left
}
.set-56-percent-for-width{
	width:56%;
	float:left
}
.set-57-percent-for-width{
	width:57%;
	float:left
}
.set-58-percent-for-width{
	width:58%;
	float:left
}
.set-59-percent-for-width{
	width:59%;
	float:left
}
.set-60-percent-for-width{
	width:60%;
	float:left
}
.set-61-percent-for-width{
	width:61%;
	float:left
}
.set-62-percent-for-width{
	width:62%;
	float:left
}
.set-63-percent-for-width{
	width:63%;
	float:left
}
.set-64-percent-for-width{
	width:64%;
	float:left
}
.set-65-percent-for-width{
	width:65%;
	float:left
}
.set-66-percent-for-width{
	width:66%;
	float:left
}
.set-67-percent-for-width{
	width:67%;
	float:left
}
.set-68-percent-for-width{
	width:68%;
	float:left
}
.set-69-percent-for-width{
	width:69%;
	float:left
}
.set-70-percent-for-width{
	width:70%;
	float:left
}
.set-71-percent-for-width{
	width:71%;
	float:left
}
.set-72-percent-for-width{
	width:72%;
	float:left
}
.set-73-percent-for-width{
	width:73%;
	float:left
}
.set-74-percent-for-width{
	width:74%;
	float:left
}
.set-75-percent-for-width{
	width:75%;
	float:left
}
.set-76-percent-for-width{
	width:76%;
	float:left
}
.set-77-percent-for-width{
	width:77%;
	float:left
}
.set-78-percent-for-width{
	width:78%;
	float:left
}
.set-79-percent-for-width{
	width:79%;
	float:left
}
.set-80-percent-for-width{
	width:80%;
	float:left
}
.set-81-percent-for-width{
	width:81%;
	float:left
}
.set-82-percent-for-width{
	width:82%;
	float:left
}
.set-83-percent-for-width{
	width:83%;
	float:left
}
.set-84-percent-for-width{
	width:84%;
	float:left
}
.set-85-percent-for-width{
	width:85%;
	float:left
}
.set-86-percent-for-width{
	width:86%;
	float:left
}
.set-87-percent-for-width{
	width:87%;
	float:left
}
.set-88-percent-for-width{
	width:88%;
	float:left
}
.set-89-percent-for-width{
	width:89%;
	float:left
}
.set-90-percent-for-width{
	width:90%;
	float:left
}
.set-91-percent-for-width{
	width:91%;
	float:left
}
.set-92-percent-for-width{
	width:92%;
	float:left
}
.set-93-percent-for-width{
	width:93%;
	float:left
}
.set-94-percent-for-width{
	width:94%;
	float:left
}
.set-95-percent-for-width{
	width:95%;
	float:left
}
.set-96-percent-for-width{
	width:96%;
	float:left
}
.set-97-percent-for-width{
	width:97%;
	float:left
}
.set-98-percent-for-width{
	width:98%;
	float:left
}
.set-99-percent-for-width{
	width:99%;
	float:left
}
.set-100-percent-for-width{
	width:100%;
	float:left
}
.set-1-view-height-for-width{
	width:1vh;
	float:left
}
.set-2-view-height-for-width{
	width:2vh;
	float:left
}
.set-3-view-height-for-width{
	width:3vh;
	float:left
}
.set-4-view-height-for-width{
	width:4vh;
	float:left
}
.set-5-view-height-for-width{
	width:5vh;
	float:left
}
.set-6-view-height-for-width{
	width:6vh;
	float:left
}
.set-7-view-height-for-width{
	width:7vh;
	float:left
}
.set-8-view-height-for-width{
	width:8vh;
	float:left
}
.set-9-view-height-for-width{
	width:9vh;
	float:left
}
.set-10-view-height-for-width{
	width:10vh;
	float:left
}
.set-11-view-height-for-width{
	width:11vh;
	float:left
}
.set-12-view-height-for-width{
	width:12vh;
	float:left
}
.set-13-view-height-for-width{
	width:13vh;
	float:left
}
.set-14-view-height-for-width{
	width:14vh;
	float:left
}
.set-15-view-height-for-width{
	width:15vh;
	float:left
}
.set-16-view-height-for-width{
	width:16vh;
	float:left
}
.set-17-view-height-for-width{
	width:17vh;
	float:left
}
.set-18-view-height-for-width{
	width:18vh;
	float:left
}
.set-19-view-height-for-width{
	width:19vh;
	float:left
}
.set-20-view-height-for-width{
	width:20vh;
	float:left
}
.set-21-view-height-for-width{
	width:21vh;
	float:left
}
.set-22-view-height-for-width{
	width:22vh;
	float:left
}
.set-23-view-height-for-width{
	width:23vh;
	float:left
}
.set-24-view-height-for-width{
	width:24vh;
	float:left
}
.set-25-view-height-for-width{
	width:25vh;
	float:left
}
.set-26-view-height-for-width{
	width:26vh;
	float:left
}
.set-27-view-height-for-width{
	width:27vh;
	float:left
}
.set-28-view-height-for-width{
	width:28vh;
	float:left
}
.set-29-view-height-for-width{
	width:29vh;
	float:left
}
.set-30-view-height-for-width{
	width:30vh;
	float:left
}
.set-31-view-height-for-width{
	width:31vh;
	float:left
}
.set-32-view-height-for-width{
	width:32vh;
	float:left
}
.set-33-view-height-for-width{
	width:33vh;
	float:left
}
.set-34-view-height-for-width{
	width:34vh;
	float:left
}
.set-35-view-height-for-width{
	width:35vh;
	float:left
}
.set-36-view-height-for-width{
	width:36vh;
	float:left
}
.set-37-view-height-for-width{
	width:37vh;
	float:left
}
.set-38-view-height-for-width{
	width:38vh;
	float:left
}
.set-39-view-height-for-width{
	width:39vh;
	float:left
}
.set-40-view-height-for-width{
	width:40vh;
	float:left
}
.set-41-view-height-for-width{
	width:41vh;
	float:left
}
.set-42-view-height-for-width{
	width:42vh;
	float:left
}
.set-43-view-height-for-width{
	width:43vh;
	float:left
}
.set-44-view-height-for-width{
	width:44vh;
	float:left
}
.set-45-view-height-for-width{
	width:45vh;
	float:left
}
.set-46-view-height-for-width{
	width:46vh;
	float:left
}
.set-47-view-height-for-width{
	width:47vh;
	float:left
}
.set-48-view-height-for-width{
	width:48vh;
	float:left
}
.set-49-view-height-for-width{
	width:49vh;
	float:left
}
.set-50-view-height-for-width{
	width:50vh;
	float:left
}
.set-51-view-height-for-width{
	width:51vh;
	float:left
}
.set-52-view-height-for-width{
	width:52vh;
	float:left
}
.set-53-view-height-for-width{
	width:53vh;
	float:left
}
.set-54-view-height-for-width{
	width:54vh;
	float:left
}
.set-55-view-height-for-width{
	width:55vh;
	float:left
}
.set-56-view-height-for-width{
	width:56vh;
	float:left
}
.set-57-view-height-for-width{
	width:57vh;
	float:left
}
.set-58-view-height-for-width{
	width:58vh;
	float:left
}
.set-59-view-height-for-width{
	width:59vh;
	float:left
}
.set-60-view-height-for-width{
	width:60vh;
	float:left
}
.set-61-view-height-for-width{
	width:61vh;
	float:left
}
.set-62-view-height-for-width{
	width:62vh;
	float:left
}
.set-63-view-height-for-width{
	width:63vh;
	float:left
}
.set-64-view-height-for-width{
	width:64vh;
	float:left
}
.set-65-view-height-for-width{
	width:65vh;
	float:left
}
.set-66-view-height-for-width{
	width:66vh;
	float:left
}
.set-67-view-height-for-width{
	width:67vh;
	float:left
}
.set-68-view-height-for-width{
	width:68vh;
	float:left
}
.set-69-view-height-for-width{
	width:69vh;
	float:left
}
.set-70-view-height-for-width{
	width:70vh;
	float:left
}
.set-71-view-height-for-width{
	width:71vh;
	float:left
}
.set-72-view-height-for-width{
	width:72vh;
	float:left
}
.set-73-view-height-for-width{
	width:73vh;
	float:left
}
.set-74-view-height-for-width{
	width:74vh;
	float:left
}
.set-75-view-height-for-width{
	width:75vh;
	float:left
}
.set-76-view-height-for-width{
	width:76vh;
	float:left
}
.set-77-view-height-for-width{
	width:77vh;
	float:left
}
.set-78-view-height-for-width{
	width:78vh;
	float:left
}
.set-79-view-height-for-width{
	width:79vh;
	float:left
}
.set-80-view-height-for-width{
	width:80vh;
	float:left
}
.set-81-view-height-for-width{
	width:81vh;
	float:left
}
.set-82-view-height-for-width{
	width:82vh;
	float:left
}
.set-83-view-height-for-width{
	width:83vh;
	float:left
}
.set-84-view-height-for-width{
	width:84vh;
	float:left
}
.set-85-view-height-for-width{
	width:85vh;
	float:left
}
.set-86-view-height-for-width{
	width:86vh;
	float:left
}
.set-87-view-height-for-width{
	width:87vh;
	float:left
}
.set-88-view-height-for-width{
	width:88vh;
	float:left
}
.set-89-view-height-for-width{
	width:89vh;
	float:left
}
.set-90-view-height-for-width{
	width:90vh;
	float:left
}
.set-91-view-height-for-width{
	width:91vh;
	float:left
}
.set-92-view-height-for-width{
	width:92vh;
	float:left
}
.set-93-view-height-for-width{
	width:93vh;
	float:left
}
.set-94-view-height-for-width{
	width:94vh;
	float:left
}
.set-95-view-height-for-width{
	width:95vh;
	float:left
}
.set-96-view-height-for-width{
	width:96vh;
	float:left
}
.set-97-view-height-for-width{
	width:97vh;
	float:left
}
.set-98-view-height-for-width{
	width:98vh;
	float:left
}
.set-99-view-height-for-width{
	width:99vh;
	float:left
}
.set-100-view-height-for-width{
	width:100vh;
	float:left
}
.set-1-view-width-for-width{
	width:1vw;
	float:left
}
.set-2-view-width-for-width{
	width:2vw;
	float:left
}
.set-3-view-width-for-width{
	width:3vw;
	float:left
}
.set-4-view-width-for-width{
	width:4vw;
	float:left
}
.set-5-view-width-for-width{
	width:5vw;
	float:left
}
.set-6-view-width-for-width{
	width:6vw;
	float:left
}
.set-7-view-width-for-width{
	width:7vw;
	float:left
}
.set-8-view-width-for-width{
	width:8vw;
	float:left
}
.set-9-view-width-for-width{
	width:9vw;
	float:left
}
.set-10-view-width-for-width{
	width:10vw;
	float:left
}
.set-11-view-width-for-width{
	width:11vw;
	float:left
}
.set-12-view-width-for-width{
	width:12vw;
	float:left
}
.set-13-view-width-for-width{
	width:13vw;
	float:left
}
.set-14-view-width-for-width{
	width:14vw;
	float:left
}
.set-15-view-width-for-width{
	width:15vw;
	float:left
}
.set-16-view-width-for-width{
	width:16vw;
	float:left
}
.set-17-view-width-for-width{
	width:17vw;
	float:left
}
.set-18-view-width-for-width{
	width:18vw;
	float:left
}
.set-19-view-width-for-width{
	width:19vw;
	float:left
}
.set-20-view-width-for-width{
	width:20vw;
	float:left
}
.set-21-view-width-for-width{
	width:21vw;
	float:left
}
.set-22-view-width-for-width{
	width:22vw;
	float:left
}
.set-23-view-width-for-width{
	width:23vw;
	float:left
}
.set-24-view-width-for-width{
	width:24vw;
	float:left
}
.set-25-view-width-for-width{
	width:25vw;
	float:left
}
.set-26-view-width-for-width{
	width:26vw;
	float:left
}
.set-27-view-width-for-width{
	width:27vw;
	float:left
}
.set-28-view-width-for-width{
	width:28vw;
	float:left
}
.set-29-view-width-for-width{
	width:29vw;
	float:left
}
.set-30-view-width-for-width{
	width:30vw;
	float:left
}
.set-31-view-width-for-width{
	width:31vw;
	float:left
}
.set-32-view-width-for-width{
	width:32vw;
	float:left
}
.set-33-view-width-for-width{
	width:33vw;
	float:left
}
.set-34-view-width-for-width{
	width:34vw;
	float:left
}
.set-35-view-width-for-width{
	width:35vw;
	float:left
}
.set-36-view-width-for-width{
	width:36vw;
	float:left
}
.set-37-view-width-for-width{
	width:37vw;
	float:left
}
.set-38-view-width-for-width{
	width:38vw;
	float:left
}
.set-39-view-width-for-width{
	width:39vw;
	float:left
}
.set-40-view-width-for-width{
	width:40vw;
	float:left
}
.set-41-view-width-for-width{
	width:41vw;
	float:left
}
.set-42-view-width-for-width{
	width:42vw;
	float:left
}
.set-43-view-width-for-width{
	width:43vw;
	float:left
}
.set-44-view-width-for-width{
	width:44vw;
	float:left
}
.set-45-view-width-for-width{
	width:45vw;
	float:left
}
.set-46-view-width-for-width{
	width:46vw;
	float:left
}
.set-47-view-width-for-width{
	width:47vw;
	float:left
}
.set-48-view-width-for-width{
	width:48vw;
	float:left
}
.set-49-view-width-for-width{
	width:49vw;
	float:left
}
.set-50-view-width-for-width{
	width:50vw;
	float:left
}
.set-51-view-width-for-width{
	width:51vw;
	float:left
}
.set-52-view-width-for-width{
	width:52vw;
	float:left
}
.set-53-view-width-for-width{
	width:53vw;
	float:left
}
.set-54-view-width-for-width{
	width:54vw;
	float:left
}
.set-55-view-width-for-width{
	width:55vw;
	float:left
}
.set-56-view-width-for-width{
	width:56vw;
	float:left
}
.set-57-view-width-for-width{
	width:57vw;
	float:left
}
.set-58-view-width-for-width{
	width:58vw;
	float:left
}
.set-59-view-width-for-width{
	width:59vw;
	float:left
}
.set-60-view-width-for-width{
	width:60vw;
	float:left
}
.set-61-view-width-for-width{
	width:61vw;
	float:left
}
.set-62-view-width-for-width{
	width:62vw;
	float:left
}
.set-63-view-width-for-width{
	width:63vw;
	float:left
}
.set-64-view-width-for-width{
	width:64vw;
	float:left
}
.set-65-view-width-for-width{
	width:65vw;
	float:left
}
.set-66-view-width-for-width{
	width:66vw;
	float:left
}
.set-67-view-width-for-width{
	width:67vw;
	float:left
}
.set-68-view-width-for-width{
	width:68vw;
	float:left
}
.set-69-view-width-for-width{
	width:69vw;
	float:left
}
.set-70-view-width-for-width{
	width:70vw;
	float:left
}
.set-71-view-width-for-width{
	width:71vw;
	float:left
}
.set-72-view-width-for-width{
	width:72vw;
	float:left
}
.set-73-view-width-for-width{
	width:73vw;
	float:left
}
.set-74-view-width-for-width{
	width:74vw;
	float:left
}
.set-75-view-width-for-width{
	width:75vw;
	float:left
}
.set-76-view-width-for-width{
	width:76vw;
	float:left
}
.set-77-view-width-for-width{
	width:77vw;
	float:left
}
.set-78-view-width-for-width{
	width:78vw;
	float:left
}
.set-79-view-width-for-width{
	width:79vw;
	float:left
}
.set-80-view-width-for-width{
	width:80vw;
	float:left
}
.set-81-view-width-for-width{
	width:81vw;
	float:left
}
.set-82-view-width-for-width{
	width:82vw;
	float:left
}
.set-83-view-width-for-width{
	width:83vw;
	float:left
}
.set-84-view-width-for-width{
	width:84vw;
	float:left
}
.set-85-view-width-for-width{
	width:85vw;
	float:left
}
.set-86-view-width-for-width{
	width:86vw;
	float:left
}
.set-87-view-width-for-width{
	width:87vw;
	float:left
}
.set-88-view-width-for-width{
	width:88vw;
	float:left
}
.set-89-view-width-for-width{
	width:89vw;
	float:left
}
.set-90-view-width-for-width{
	width:90vw;
	float:left
}
.set-91-view-width-for-width{
	width:91vw;
	float:left
}
.set-92-view-width-for-width{
	width:92vw;
	float:left
}
.set-93-view-width-for-width{
	width:93vw;
	float:left
}
.set-94-view-width-for-width{
	width:94vw;
	float:left
}
.set-95-view-width-for-width{
	width:95vw;
	float:left
}
.set-96-view-width-for-width{
	width:96vw;
	float:left
}
.set-97-view-width-for-width{
	width:97vw;
	float:left
}
.set-98-view-width-for-width{
	width:98vw;
	float:left
}
.set-99-view-width-for-width{
	width:99vw;
	float:left
}
.set-100-view-width-for-width{
	width:100vw;
	float:left
}
.set-1-percent-for-height{
	height:1%;
	float:left
}
.set-2-percent-for-height{
	height:2%;
	float:left
}
.set-3-percent-for-height{
	height:3%;
	float:left
}
.set-4-percent-for-height{
	height:4%;
	float:left
}
.set-5-percent-for-height{
	height:5%;
	float:left
}
.set-6-percent-for-height{
	height:6%;
	float:left
}
.set-7-percent-for-height{
	height:7%;
	float:left
}
.set-8-percent-for-height{
	height:8%;
	float:left
}
.set-9-percent-for-height{
	height:9%;
	float:left
}
.set-10-percent-for-height{
	height:10%;
	float:left
}
.set-11-percent-for-height{
	height:11%;
	float:left
}
.set-12-percent-for-height{
	height:12%;
	float:left
}
.set-13-percent-for-height{
	height:13%;
	float:left
}
.set-14-percent-for-height{
	height:14%;
	float:left
}
.set-15-percent-for-height{
	height:15%;
	float:left
}
.set-16-percent-for-height{
	height:16%;
	float:left
}
.set-17-percent-for-height{
	height:17%;
	float:left
}
.set-18-percent-for-height{
	height:18%;
	float:left
}
.set-19-percent-for-height{
	height:19%;
	float:left
}
.set-20-percent-for-height{
	height:20%;
	float:left
}
.set-21-percent-for-height{
	height:21%;
	float:left
}
.set-22-percent-for-height{
	height:22%;
	float:left
}
.set-23-percent-for-height{
	height:23%;
	float:left
}
.set-24-percent-for-height{
	height:24%;
	float:left
}
.set-25-percent-for-height{
	height:25%;
	float:left
}
.set-26-percent-for-height{
	height:26%;
	float:left
}
.set-27-percent-for-height{
	height:27%;
	float:left
}
.set-28-percent-for-height{
	height:28%;
	float:left
}
.set-29-percent-for-height{
	height:29%;
	float:left
}
.set-30-percent-for-height{
	height:30%;
	float:left
}
.set-31-percent-for-height{
	height:31%;
	float:left
}
.set-32-percent-for-height{
	height:32%;
	float:left
}
.set-33-percent-for-height{
	height:33%;
	float:left
}
.set-34-percent-for-height{
	height:34%;
	float:left
}
.set-35-percent-for-height{
	height:35%;
	float:left
}
.set-36-percent-for-height{
	height:36%;
	float:left
}
.set-37-percent-for-height{
	height:37%;
	float:left
}
.set-38-percent-for-height{
	height:38%;
	float:left
}
.set-39-percent-for-height{
	height:39%;
	float:left
}
.set-40-percent-for-height{
	height:40%;
	float:left
}
.set-41-percent-for-height{
	height:41%;
	float:left
}
.set-42-percent-for-height{
	height:42%;
	float:left
}
.set-43-percent-for-height{
	height:43%;
	float:left
}
.set-44-percent-for-height{
	height:44%;
	float:left
}
.set-45-percent-for-height{
	height:45%;
	float:left
}
.set-46-percent-for-height{
	height:46%;
	float:left
}
.set-47-percent-for-height{
	height:47%;
	float:left
}
.set-48-percent-for-height{
	height:48%;
	float:left
}
.set-49-percent-for-height{
	height:49%;
	float:left
}
.set-50-percent-for-height{
	height:50%;
	float:left
}
.set-51-percent-for-height{
	height:51%;
	float:left
}
.set-52-percent-for-height{
	height:52%;
	float:left
}
.set-53-percent-for-height{
	height:53%;
	float:left
}
.set-54-percent-for-height{
	height:54%;
	float:left
}
.set-55-percent-for-height{
	height:55%;
	float:left
}
.set-56-percent-for-height{
	height:56%;
	float:left
}
.set-57-percent-for-height{
	height:57%;
	float:left
}
.set-58-percent-for-height{
	height:58%;
	float:left
}
.set-59-percent-for-height{
	height:59%;
	float:left
}
.set-60-percent-for-height{
	height:60%;
	float:left
}
.set-61-percent-for-height{
	height:61%;
	float:left
}
.set-62-percent-for-height{
	height:62%;
	float:left
}
.set-63-percent-for-height{
	height:63%;
	float:left
}
.set-64-percent-for-height{
	height:64%;
	float:left
}
.set-65-percent-for-height{
	height:65%;
	float:left
}
.set-66-percent-for-height{
	height:66%;
	float:left
}
.set-67-percent-for-height{
	height:67%;
	float:left
}
.set-68-percent-for-height{
	height:68%;
	float:left
}
.set-69-percent-for-height{
	height:69%;
	float:left
}
.set-70-percent-for-height{
	height:70%;
	float:left
}
.set-71-percent-for-height{
	height:71%;
	float:left
}
.set-72-percent-for-height{
	height:72%;
	float:left
}
.set-73-percent-for-height{
	height:73%;
	float:left
}
.set-74-percent-for-height{
	height:74%;
	float:left
}
.set-75-percent-for-height{
	height:75%;
	float:left
}
.set-76-percent-for-height{
	height:76%;
	float:left
}
.set-77-percent-for-height{
	height:77%;
	float:left
}
.set-78-percent-for-height{
	height:78%;
	float:left
}
.set-79-percent-for-height{
	height:79%;
	float:left
}
.set-80-percent-for-height{
	height:80%;
	float:left
}
.set-81-percent-for-height{
	height:81%;
	float:left
}
.set-82-percent-for-height{
	height:82%;
	float:left
}
.set-83-percent-for-height{
	height:83%;
	float:left
}
.set-84-percent-for-height{
	height:84%;
	float:left
}
.set-85-percent-for-height{
	height:85%;
	float:left
}
.set-86-percent-for-height{
	height:86%;
	float:left
}
.set-87-percent-for-height{
	height:87%;
	float:left
}
.set-88-percent-for-height{
	height:88%;
	float:left
}
.set-89-percent-for-height{
	height:89%;
	float:left
}
.set-90-percent-for-height{
	height:90%;
	float:left
}
.set-91-percent-for-height{
	height:91%;
	float:left
}
.set-92-percent-for-height{
	height:92%;
	float:left
}
.set-93-percent-for-height{
	height:93%;
	float:left
}
.set-94-percent-for-height{
	height:94%;
	float:left
}
.set-95-percent-for-height{
	height:95%;
	float:left
}
.set-96-percent-for-height{
	height:96%;
	float:left
}
.set-97-percent-for-height{
	height:97%;
	float:left
}
.set-98-percent-for-height{
	height:98%;
	float:left
}
.set-99-percent-for-height{
	height:99%;
	float:left
}
.set-100-percent-for-height{
	height:100%;
	float:left
}
.set-1-view-height-for-height{
	height:1vh;
	float:left
}
.set-2-view-height-for-height{
	height:2vh;
	float:left
}
.set-3-view-height-for-height{
	height:3vh;
	float:left
}
.set-4-view-height-for-height{
	height:4vh;
	float:left
}
.set-5-view-height-for-height{
	height:5vh;
	float:left
}
.set-6-view-height-for-height{
	height:6vh;
	float:left
}
.set-7-view-height-for-height{
	height:7vh;
	float:left
}
.set-8-view-height-for-height{
	height:8vh;
	float:left
}
.set-9-view-height-for-height{
	height:9vh;
	float:left
}
.set-10-view-height-for-height{
	height:10vh;
	float:left
}
.set-11-view-height-for-height{
	height:11vh;
	float:left
}
.set-12-view-height-for-height{
	height:12vh;
	float:left
}
.set-13-view-height-for-height{
	height:13vh;
	float:left
}
.set-14-view-height-for-height{
	height:14vh;
	float:left
}
.set-15-view-height-for-height{
	height:15vh;
	float:left
}
.set-16-view-height-for-height{
	height:16vh;
	float:left
}
.set-17-view-height-for-height{
	height:17vh;
	float:left
}
.set-18-view-height-for-height{
	height:18vh;
	float:left
}
.set-19-view-height-for-height{
	height:19vh;
	float:left
}
.set-20-view-height-for-height{
	height:20vh;
	float:left
}
.set-21-view-height-for-height{
	height:21vh;
	float:left
}
.set-22-view-height-for-height{
	height:22vh;
	float:left
}
.set-23-view-height-for-height{
	height:23vh;
	float:left
}
.set-24-view-height-for-height{
	height:24vh;
	float:left
}
.set-25-view-height-for-height{
	height:25vh;
	float:left
}
.set-26-view-height-for-height{
	height:26vh;
	float:left
}
.set-27-view-height-for-height{
	height:27vh;
	float:left
}
.set-28-view-height-for-height{
	height:28vh;
	float:left
}
.set-29-view-height-for-height{
	height:29vh;
	float:left
}
.set-30-view-height-for-height{
	height:30vh;
	float:left
}
.set-31-view-height-for-height{
	height:31vh;
	float:left
}
.set-32-view-height-for-height{
	height:32vh;
	float:left
}
.set-33-view-height-for-height{
	height:33vh;
	float:left
}
.set-34-view-height-for-height{
	height:34vh;
	float:left
}
.set-35-view-height-for-height{
	height:35vh;
	float:left
}
.set-36-view-height-for-height{
	height:36vh;
	float:left
}
.set-37-view-height-for-height{
	height:37vh;
	float:left
}
.set-38-view-height-for-height{
	height:38vh;
	float:left
}
.set-39-view-height-for-height{
	height:39vh;
	float:left
}
.set-40-view-height-for-height{
	height:40vh;
	float:left
}
.set-41-view-height-for-height{
	height:41vh;
	float:left
}
.set-42-view-height-for-height{
	height:42vh;
	float:left
}
.set-43-view-height-for-height{
	height:43vh;
	float:left
}
.set-44-view-height-for-height{
	height:44vh;
	float:left
}
.set-45-view-height-for-height{
	height:45vh;
	float:left
}
.set-46-view-height-for-height{
	height:46vh;
	float:left
}
.set-47-view-height-for-height{
	height:47vh;
	float:left
}
.set-48-view-height-for-height{
	height:48vh;
	float:left
}
.set-49-view-height-for-height{
	height:49vh;
	float:left
}
.set-50-view-height-for-height{
	height:50vh;
	float:left
}
.set-51-view-height-for-height{
	height:51vh;
	float:left
}
.set-52-view-height-for-height{
	height:52vh;
	float:left
}
.set-53-view-height-for-height{
	height:53vh;
	float:left
}
.set-54-view-height-for-height{
	height:54vh;
	float:left
}
.set-55-view-height-for-height{
	height:55vh;
	float:left
}
.set-56-view-height-for-height{
	height:56vh;
	float:left
}
.set-57-view-height-for-height{
	height:57vh;
	float:left
}
.set-58-view-height-for-height{
	height:58vh;
	float:left
}
.set-59-view-height-for-height{
	height:59vh;
	float:left
}
.set-60-view-height-for-height{
	height:60vh;
	float:left
}
.set-61-view-height-for-height{
	height:61vh;
	float:left
}
.set-62-view-height-for-height{
	height:62vh;
	float:left
}
.set-63-view-height-for-height{
	height:63vh;
	float:left
}
.set-64-view-height-for-height{
	height:64vh;
	float:left
}
.set-65-view-height-for-height{
	height:65vh;
	float:left
}
.set-66-view-height-for-height{
	height:66vh;
	float:left
}
.set-67-view-height-for-height{
	height:67vh;
	float:left
}
.set-68-view-height-for-height{
	height:68vh;
	float:left
}
.set-69-view-height-for-height{
	height:69vh;
	float:left
}
.set-70-view-height-for-height{
	height:70vh;
	float:left
}
.set-71-view-height-for-height{
	height:71vh;
	float:left
}
.set-72-view-height-for-height{
	height:72vh;
	float:left
}
.set-73-view-height-for-height{
	height:73vh;
	float:left
}
.set-74-view-height-for-height{
	height:74vh;
	float:left
}
.set-75-view-height-for-height{
	height:75vh;
	float:left
}
.set-76-view-height-for-height{
	height:76vh;
	float:left
}
.set-77-view-height-for-height{
	height:77vh;
	float:left
}
.set-78-view-height-for-height{
	height:78vh;
	float:left
}
.set-79-view-height-for-height{
	height:79vh;
	float:left
}
.set-80-view-height-for-height{
	height:80vh;
	float:left
}
.set-81-view-height-for-height{
	height:81vh;
	float:left
}
.set-82-view-height-for-height{
	height:82vh;
	float:left
}
.set-83-view-height-for-height{
	height:83vh;
	float:left
}
.set-84-view-height-for-height{
	height:84vh;
	float:left
}
.set-85-view-height-for-height{
	height:85vh;
	float:left
}
.set-86-view-height-for-height{
	height:86vh;
	float:left
}
.set-87-view-height-for-height{
	height:87vh;
	float:left
}
.set-88-view-height-for-height{
	height:88vh;
	float:left
}
.set-89-view-height-for-height{
	height:89vh;
	float:left
}
.set-90-view-height-for-height{
	height:90vh;
	float:left
}
.set-91-view-height-for-height{
	height:91vh;
	float:left
}
.set-92-view-height-for-height{
	height:92vh;
	float:left
}
.set-93-view-height-for-height{
	height:93vh;
	float:left
}
.set-94-view-height-for-height{
	height:94vh;
	float:left
}
.set-95-view-height-for-height{
	height:95vh;
	float:left
}
.set-96-view-height-for-height{
	height:96vh;
	float:left
}
.set-97-view-height-for-height{
	height:97vh;
	float:left
}
.set-98-view-height-for-height{
	height:98vh;
	float:left
}
.set-99-view-height-for-height{
	height:99vh;
	float:left
}
.set-100-view-height-for-height{
	height:100vh;
	float:left
}
.set-1-view-width-for-height{
	height:1vw;
	float:left
}
.set-2-view-width-for-height{
	height:2vw;
	float:left
}
.set-3-view-width-for-height{
	height:3vw;
	float:left
}
.set-4-view-width-for-height{
	height:4vw;
	float:left
}
.set-5-view-width-for-height{
	height:5vw;
	float:left
}
.set-6-view-width-for-height{
	height:6vw;
	float:left
}
.set-7-view-width-for-height{
	height:7vw;
	float:left
}
.set-8-view-width-for-height{
	height:8vw;
	float:left
}
.set-9-view-width-for-height{
	height:9vw;
	float:left
}
.set-10-view-width-for-height{
	height:10vw;
	float:left
}
.set-11-view-width-for-height{
	height:11vw;
	float:left
}
.set-12-view-width-for-height{
	height:12vw;
	float:left
}
.set-13-view-width-for-height{
	height:13vw;
	float:left
}
.set-14-view-width-for-height{
	height:14vw;
	float:left
}
.set-15-view-width-for-height{
	height:15vw;
	float:left
}
.set-16-view-width-for-height{
	height:16vw;
	float:left
}
.set-17-view-width-for-height{
	height:17vw;
	float:left
}
.set-18-view-width-for-height{
	height:18vw;
	float:left
}
.set-19-view-width-for-height{
	height:19vw;
	float:left
}
.set-20-view-width-for-height{
	height:20vw;
	float:left
}
.set-21-view-width-for-height{
	height:21vw;
	float:left
}
.set-22-view-width-for-height{
	height:22vw;
	float:left
}
.set-23-view-width-for-height{
	height:23vw;
	float:left
}
.set-24-view-width-for-height{
	height:24vw;
	float:left
}
.set-25-view-width-for-height{
	height:25vw;
	float:left
}
.set-26-view-width-for-height{
	height:26vw;
	float:left
}
.set-27-view-width-for-height{
	height:27vw;
	float:left
}
.set-28-view-width-for-height{
	height:28vw;
	float:left
}
.set-29-view-width-for-height{
	height:29vw;
	float:left
}
.set-30-view-width-for-height{
	height:30vw;
	float:left
}
.set-31-view-width-for-height{
	height:31vw;
	float:left
}
.set-32-view-width-for-height{
	height:32vw;
	float:left
}
.set-33-view-width-for-height{
	height:33vw;
	float:left
}
.set-34-view-width-for-height{
	height:34vw;
	float:left
}
.set-35-view-width-for-height{
	height:35vw;
	float:left
}
.set-36-view-width-for-height{
	height:36vw;
	float:left
}
.set-37-view-width-for-height{
	height:37vw;
	float:left
}
.set-38-view-width-for-height{
	height:38vw;
	float:left
}
.set-39-view-width-for-height{
	height:39vw;
	float:left
}
.set-40-view-width-for-height{
	height:40vw;
	float:left
}
.set-41-view-width-for-height{
	height:41vw;
	float:left
}
.set-42-view-width-for-height{
	height:42vw;
	float:left
}
.set-43-view-width-for-height{
	height:43vw;
	float:left
}
.set-44-view-width-for-height{
	height:44vw;
	float:left
}
.set-45-view-width-for-height{
	height:45vw;
	float:left
}
.set-46-view-width-for-height{
	height:46vw;
	float:left
}
.set-47-view-width-for-height{
	height:47vw;
	float:left
}
.set-48-view-width-for-height{
	height:48vw;
	float:left
}
.set-49-view-width-for-height{
	height:49vw;
	float:left
}
.set-50-view-width-for-height{
	height:50vw;
	float:left
}
.set-51-view-width-for-height{
	height:51vw;
	float:left
}
.set-52-view-width-for-height{
	height:52vw;
	float:left
}
.set-53-view-width-for-height{
	height:53vw;
	float:left
}
.set-54-view-width-for-height{
	height:54vw;
	float:left
}
.set-55-view-width-for-height{
	height:55vw;
	float:left
}
.set-56-view-width-for-height{
	height:56vw;
	float:left
}
.set-57-view-width-for-height{
	height:57vw;
	float:left
}
.set-58-view-width-for-height{
	height:58vw;
	float:left
}
.set-59-view-width-for-height{
	height:59vw;
	float:left
}
.set-60-view-width-for-height{
	height:60vw;
	float:left
}
.set-61-view-width-for-height{
	height:61vw;
	float:left
}
.set-62-view-width-for-height{
	height:62vw;
	float:left
}
.set-63-view-width-for-height{
	height:63vw;
	float:left
}
.set-64-view-width-for-height{
	height:64vw;
	float:left
}
.set-65-view-width-for-height{
	height:65vw;
	float:left
}
.set-66-view-width-for-height{
	height:66vw;
	float:left
}
.set-67-view-width-for-height{
	height:67vw;
	float:left
}
.set-68-view-width-for-height{
	height:68vw;
	float:left
}
.set-69-view-width-for-height{
	height:69vw;
	float:left
}
.set-70-view-width-for-height{
	height:70vw;
	float:left
}
.set-71-view-width-for-height{
	height:71vw;
	float:left
}
.set-72-view-width-for-height{
	height:72vw;
	float:left
}
.set-73-view-width-for-height{
	height:73vw;
	float:left
}
.set-74-view-width-for-height{
	height:74vw;
	float:left
}
.set-75-view-width-for-height{
	height:75vw;
	float:left
}
.set-76-view-width-for-height{
	height:76vw;
	float:left
}
.set-77-view-width-for-height{
	height:77vw;
	float:left
}
.set-78-view-width-for-height{
	height:78vw;
	float:left
}
.set-79-view-width-for-height{
	height:79vw;
	float:left
}
.set-80-view-width-for-height{
	height:80vw;
	float:left
}
.set-81-view-width-for-height{
	height:81vw;
	float:left
}
.set-82-view-width-for-height{
	height:82vw;
	float:left
}
.set-83-view-width-for-height{
	height:83vw;
	float:left
}
.set-84-view-width-for-height{
	height:84vw;
	float:left
}
.set-85-view-width-for-height{
	height:85vw;
	float:left
}
.set-86-view-width-for-height{
	height:86vw;
	float:left
}
.set-87-view-width-for-height{
	height:87vw;
	float:left
}
.set-88-view-width-for-height{
	height:88vw;
	float:left
}
.set-89-view-width-for-height{
	height:89vw;
	float:left
}
.set-90-view-width-for-height{
	height:90vw;
	float:left
}
.set-91-view-width-for-height{
	height:91vw;
	float:left
}
.set-92-view-width-for-height{
	height:92vw;
	float:left
}
.set-93-view-width-for-height{
	height:93vw;
	float:left
}
.set-94-view-width-for-height{
	height:94vw;
	float:left
}
.set-95-view-width-for-height{
	height:95vw;
	float:left
}
.set-96-view-width-for-height{
	height:96vw;
	float:left
}
.set-97-view-width-for-height{
	height:97vw;
	float:left
}
.set-98-view-width-for-height{
	height:98vw;
	float:left
}
.set-99-view-width-for-height{
	height:99vw;
	float:left
}
.set-100-view-width-for-height{
	height:100vw;
	float:left
}